[2018-07-27 01:40] jyucsiro opened #1 "Install ipyleaflet as a default jupyter nbwidget in ecocloud"
Installing the ipyleaflet package (https://github.com/jupyter-widgets/ipyleaflet) as a default will allow users to visually interact with spatial data and APIs, e.g. WMS, geojson, etc.

[2018-07-27 04:37] jyucsiro opened #2 "Upload to Dropbox seems to fail"
Tried "Save to Dropbox" in ecocloud compute.

It recognises my Dropbox account and I can select the folder to save to. Upload starts but seems to fail. Screenshot:
![image](https://user-images.githubusercontent.com/4723726/43301763-746073fa-91aa-11e8-8ca4-6ab790b7cda6.png)

[2018-07-27 04:44] gweis commented on #2
Seems like it is hitting the wrong url which redirects to the nbconvert endpoint?

https://jupyter.ecocloud.org.au/user/2565d4e0-3dca-46a1-8420-32168111efb2/notebooks/Transform%20Licences.ipynb"

Uncaught exception GET /user/2565d4e0-3dca-46a1-8420-32168111efb2/nbconvert/ipynb/Transform%20Licences.ipynb?download=true

[2018-08-01 06:39] sarahrichmond opened #3 "Add 'Import Data' menu item to JupyterLab"
Add an 'Import Data' menu item with a submenu for 'Desktop' and "Dropbox'.

[2018-08-01 06:39] sarahrichmond opened #4 "Create ecocloud client ID for Google and add to server image"

[2018-08-01 06:40] sarahrichmond opened #5 "Create ecocloud API client ID for GitHub and add to server image"

[2018-08-01 06:41] sarahrichmond opened #6 "Add export to Dropbox in file context menu"
Need to ensure users are able to get their results and files out of ecocloud through dropbox

[2018-08-01 06:42] sarahrichmond opened #7 "Hide signing in with a local login on app.ecocloud.org.au"
For the alpha release we will only allow users to log in through AAF. Need to remove the 'local account' login option from the UI.

[2018-08-01 06:44] sarahrichmond opened #8 "Ensure coesra is able to read/write to shared 'Projects' folder"
Note: Projects is the new name for Drive.

Task for Yi - needs to be added to repo.

[2018-08-01 06:45] sarahrichmond opened #9 "Write curl snippet for downloading data in Python (through Jupyter Notebook)"

[2018-08-01 06:46] sarahrichmond opened #10 "Write snippet for downloading data in R (through RStudio)"
This may be a curl command, or perhaps something more R-ish i.e. an R download file package.

[2018-08-01 06:47] sarahrichmond opened #11 "Redesign Dashboard"
Sarah to draw mock up before giving task to James.

[2018-08-01 06:50] sarahrichmond opened #12 "Build cart/data staging page"
This task has two parts:

1. Build data cart functionality on the Explorer page
i.e. add "add to cart" button next to each resource in the dataset list

2. Build data staging page (mock up attached) that grabs the snippet templates and populates it with the correct URLs
This includes the ability to grab export all snippets for all resources to a single file (python or R or even text)

[2018-08-01 06:51] sarahrichmond opened #13 "Add new publishers to Explorer results"
Pending review of audit - Sarah will provide a list.

[2018-08-01 06:52] sarahrichmond opened #14 "Enable single sign on to coesra"
To be assigned to Hoang.

[2018-08-01 06:53] sarahrichmond opened #15 "Create default project for each user"
Each user should have a default project already set up when they first log in called "My First Project". They should have the ability to rename it and add a description etc.

This will ensure users are able to start up a server straight away and start playing around without having to do anything before hand.

[2018-08-01 07:53] hoylen commented on #3
This should create an "Export data" item too -- for moving data _from_ ecocloud out Dropbox etc too.

Consider putting them all under the "File" menu, since that is where the download menu item is already, and where users normally look to do something with files. A "Data transfer" menu might work, but then the "download" menu item is in a separate location (in the File menu) - it would be good if

[2018-08-01 07:56] hoylen commented on #7
And use the term "**sign in**" throughout the platform (replacing "login" and "log in"). We need to be consistent.

It occurs in these places, perhaps other places too:

- On the "Log in to ecocloud" page it occurs in the page title, heading, text and buttons.
- On the "Your are not logged in" page it occurs in three places. But issue https://github.com/ausecocloud/ecocloud/issues/16 should mean t

[2018-08-02 23:16] sarahrichmond commented on #9
data.gov have some examples of snippets - https://data.qld.gov.au/dataset/electricity-price-and-demand/resource/f1ed2fa8-1d5f-4500-b221-7517489b38f2

Click on Data API - they have Javascript and Python snippets

[2018-08-03 06:12] hoylen opened #16 "Remove the "You are not logged in" page"
If they have not signed in, it should automatically redirect them to the sign in page.

That will save them having to take an extra step of clicking on a link to get there. And the fact they see a page that says "Sign in with AAF" would imply they have not signed in yet.

[2018-08-03 20:22] gweis commented on #16
Do we want some public pages (viewable without login) ?

[2018-08-03 22:22] hoylen commented on #16
The only page I can think of is the list of tools page (and, of course, pages on the WordPress and Freshdesk sites). If it is easier to not have an exception, we can simply create another list of tools page on the WordPress site.

Originally, I thought users can use _ecocloud Explorer_, but Sarah says they need to sign in.

[2018-08-07 02:07] jevy-wangfei commented on #12
https://github.com/ausecocloud/workspace-ui/pull/9

Because we don't have snippets POST/GET APIs, I store the selected dataset in customer' browser storage, and share these datasets between components such as Explor and Snipets.
More work should be done on snippets code, copy to clipboard, download all snippets, and save snippets to drive.

[2018-08-07 02:28] manhinli commented on #12
@sarahrichmond Can I ask where the mock up that you referred to is? It's not attached to this issue...

[2018-08-07 02:32] sarahrichmond commented on #12
![data staging](https://user-images.githubusercontent.com/14067061/43750878-bef12572-9a3d-11e8-9145-6119f515677d.png)
@manhinli  This is the data-staging page mockup that Sam drew up. Perhaps check in with @jevy-wangfei how far he has got with this.

[2018-08-07 02:33] hoylen opened #17 "Tools page: Python icon"
On the Tools page <https://app.ecocloud.org.au/tools>:

- Replace the Jupyter icon with the Python logo.

- Rename the "Command-line tools" header to "Interactive coding environments".

- Incorporate text from section 2.3 of the [ecocloud Text for alpha release](https://docs.google.com/document/d/1pcQ7MLBqyCeRF_4AaKaOoe1SpUoNsTQjKmbvPPCsJXQ/edit?usp=sharing) document.

[2018-08-07 02:45] manhinli commented on #12
At this stage, how persistent does the selected set of datasets need to be?

As in, does the application need to keep track of the set:
* only within the same window session (no refreshes)?
* across refreshes or different tab/window loads?
* across devices?

[2018-08-07 02:49] hoylen opened #18 "Site navigation: unify top navigation links and footers across all sites"
Have consistent navigation links across all three ecocloud sites (as much as technically possible):

- Wordpress site ([www.ecocloud.org.au](https://www.ecocloud.org.au))
- _ecocloud Platform_ ([app.ecocloud.org.au](https://app.ecocloud.org.au))
- Support portal ([support.ecocloud.org.au](http://support.ecocloud.org.au))

# Top navigation

These are the top-level navigation links:

- Home (goes to

[2018-08-07 02:52] hoylen opened #19 "Add endpoint to manage user details"
Basically a simple sort of proxy to keycloak Rest API.

Moved from https://github.com/ausecocloud/workspace/issues/1

[2018-08-07 04:00] hoylen commented on #9
The Python code on _data.qld.gov.au_ is broken. Also, it is in Python 2 (which is incompatible with the Python 3 that _ecocloud_ uses).

For their code to work, it has to be rewritten to something like this:
[code]

It would be better to use the [requests](http://docs.python-requests.org/en/master/) package and have better error checking:
[code]

That will download the data every time the code is

[2018-08-07 04:29] jevy-wangfei commented on #12
Click "Add To Selection" will add the dataset to the top: Datasets Selected:
![image](https://user-images.githubusercontent.com/6417796/43754411-1432a550-9a4e-11e8-8d75-89a610f4d5f8.png)
Click "View Snippets" will be directed to the snippets page with selected datasets displayed with code snippets.
![image](https://user-images.githubusercontent.com/6417796/43754473-5743e354-9a4e-11e8-9609-d38ee97a

[2018-08-07 06:12] manhinli commented on #12
Discussed with @jevy-wangfei and will be taking up the remaining tasks as mentioned in the above comment for this issue.

[2018-08-07 06:47] manhinli commented on #12
@sarahrichmond Should the selection of data for the cart feature be done per-dataset (containing multiple distributions) or per-distribution (one of those bullet pointed data files within a dataset), or possibly both?

[2018-08-07 06:50] sarahrichmond commented on #12
Hi James. Should happen per-distribution so that users are able to select just one layer within a dataset.

We can add a per-dataset feature down the line, for now I think we focus on the individual layers

--
Sarah Richmond | Project Manager
Ecoscience Research Cloud (ecocloud)
Biodiversity and Climate Change Virtual Laboratory (BCCVL)

eResearch Services
Griffith University | Gold Coast Campus |

[2018-08-08 00:37] hoylen opened #20 "Jupyter Labs interface"
Expose the Jypyter Labs interface instead of the Jypyter Hub control panel.

[2018-08-08 01:23] hoylen opened #21 "Connect project storage to servers"
Make the project storage accessible to the Jupyter server. This would also require the user to be able to select which project they want to use (if they have more than one) when they launch the server.

Currently, scripts and notebooks are stored in _/home/jovyian_, which is the _server temporary storage_ since it is lost when the server is terminated.

[2018-08-08 01:59] hoylen opened #22 "Fix account details page"
The _Account details_ page (i.e. the form you get when you click on your name in the top-right of the page and select "Account") needs checking and fixing.

Change the title from "User details..." to "Account details...".

If the person has signed in using AAF, there should not be any ability to change their name, email or username. Those attributes come from the AAF login and the _ecocloud Platfo

[2018-08-13 04:16] manhinli commented on #12
Made a fair bit of progress in ausecocloud/workspace-ui#10:
- Changed to storing individual distributions rather than whole data sets
- [x] Snippet copying
- [x] Snippet code (except for R)

Outstanding questions:
* What should the "How Do I Use This Selection?" link at the top of Explorer link to, or should it just be temporarily hidden/removed?
* What should "download all snippets" in Snippets d

[2018-08-13 04:19] manhinli commented on #9
In the latest pull request for #12, [I've used the `urllib` method](https://github.com/ausecocloud/workspace-ui/pull/10/commits/dc161e9c6d5deb8937129fe9bf9fcdcca347e265#diff-11544424d214eb1ecf082065675f43ccR36).

In terms of using `requests` - should we be suggesting that users install the package in snippets as well, to use that instead?

[2018-08-13 04:26] manhinli commented on #10
I've yet to put in snippet download code for R in the latest work for #12 as I'm not entirely familiar with R.

[Similar to the comment](https://github.com/ausecocloud/ecocloud/issues/9#issuecomment-412404803) I made in #9 - there's a question of whether we use a package and if so, how to communicate that to users with the snippet.

[2018-08-13 05:09] hoylen commented on #9
I think the Python "_requests_" package was already installed when I tried using it in the Jupyter environment (just like the _urllib_ package was already installed). Whether that is deliberately installed or an unplanned side-effect, I don't know.

Given how basic the snippet currently is, it will only provide value to novices who couldn't write it themselves -- and they are the ones who are more

[2018-08-13 05:19] manhinli commented on #9
As far as I know, `requests` is not in the Python standard library, and so will generally require installation, but for some pre-packaged environments, this may already be available.

If we do decide to do things beyond a simple fetch, I would suggest that it would be best done through an actual published public package for that purpose. If you take it from the point of a user who may end up blind

[2018-08-16 00:22] manhinli commented on #10
@sarahrichmond Any comments about the question of packages?

[2018-08-16 00:26] sarahrichmond commented on #10
I thought the plan for now was to use curl commands that download the data to the server.

Does R not let you run curl commands?

If there is a package we need, we could ask @gweis to install it in the image so it's available across all servers.

[2018-08-16 00:32] manhinli commented on #10
It's more about the considerations for users using some other environment which may not have the packages available - but if the scope is limited to our own environment which does have the library then there is no immediate need to do what I've suggested.

[2018-08-16 00:55] sarahrichmond commented on #11
![dashboard mockup](https://user-images.githubusercontent.com/14067061/44181031-ccc24f80-a142-11e8-94ba-3b502051f273.png)
 @manhinli here is mockup. Let me know if you have any questions

[2018-08-16 01:07] hoylen commented on #11
Also, see https://github.com/ausecocloud/ecocloud/issues/18 for renaming "Support & Docs" to just "Support" (in the navigation bar) and expanding the documentation in the footer.

[2018-08-16 01:14] hoylen commented on #18
I just noticed that we already have the current navigation link (top right corner) highlighted in green. So maybe the green word in the logo is redundant?

For consistency, we have two options:

1. Create another graphic for "ecocloud Dashboard" (as originally described for this ticket); or

2. Simply use the same graphic (that only says "ecocloud") for all the pages. That is, get rid of the custo

[2018-08-16 01:15] sarahrichmond opened #23 "TOOLS PAGE - Add within page support text"
**Tools page**
--

**INTRODUCTION TO EACH COMPONENT**

Page introduction text
**Text:** _Here you will find a suite of openly available tools that are commonly used in ecosciences._
**Location:** Under main page header

Interactive coding tools section text
Change ‘command-line tools’ to ‘interactive coding tools’
**Text:** _ecocloud gives you access to servers with either R or Python. These envir

[2018-08-16 01:17] sarahrichmond opened #24 "PROJECTS PAGE: Add within page support text"
**Projects page (formerly Drive)**
-

**INTRODUCTION TEXT**
**Text:**
_ecocloud Projects_ is where we’ll store all your code from the R and SciPy servers.
- This is your persistent storage space. You have 10 GiB available to you.
- We encourage you to only use this as storage for code.
- You can import and export your data and results from your server.
- To get the most out of the _ecocloud Projec

[2018-08-16 01:19] sarahrichmond opened #25 "EXPLORER PAGE: Add within page support text"
**Explorer page**
-

**INTRODUCTION TEXT**
_ecocloud Explorer_ is where you can search, find, and access thousands of data layers from hundreds of different publishers.
- We do not store the data here.
- We provide a description of the data, and the ability to add this data to a cart where you can download the data, or generate code snippets to access the data through R or Python.
- Snippets are a

[2018-08-16 01:36] sarahrichmond commented on #12
@manhinli
* Leave "How Do I Use This Selection?" link there, we'll link this to a support page.
* Download all snippets was meant to be a drop down box where a user could choose to download all snippets into an R file, a Python file, or a text file. This is to save them from copy and pasting numerous times when they have a number of different files. Ideally, we should be able to package all the R

[2018-08-16 01:54] manhinli commented on #12
@sarahrichmond Is this to be done as part of this ticket/sprint or shall it be filed as a separate feature? We don't have the structure of the file sorted out yet (e.g. Store all the data in one big array/vector/list? How should we identify them for users to pick out?)

[2018-08-16 02:13] manhinli commented on #10
Changes have been accepted as part of PR ausecocloud/workspace-ui#10

[2018-08-16 02:13] manhinli commented on #9
Changes have been accepted as part of PR ausecocloud/workspace-ui#10

[2018-08-16 02:47] sarahrichmond commented on #18
@hoylen

This was part of our branding guideline.
Explorer, Drive and Tools have somewhat of a logo on their own. The Dashboard does not need one.

[2018-08-16 02:50] hoylen commented on #18
Ok.

[2018-08-16 03:49] manhinli commented on #23
@sarahrichmond The Virtual Desktops tool link (not the section) still has _Lorem ipsum_ text - what should that be replaced with?

[2018-08-16 04:44] manhinli commented on #25
Discussed with @sarahrichmond and will be leaving this out for now. Returning this to To Do.

[2018-08-16 04:59] manhinli commented on #12
Discussed "Download all snippets" button with @sarahrichmond - will be temporarily hidden for future development.

[2018-08-16 23:10] manhinli commented on #11
Most of the work for #11 has been done except for two issues which will be investigated:
* Issue around HTTP DELETE requests to terminate a server and CORS responses not coming back as expected which prevent the user agent (browser) from actually submitting that request
* Issue around actually being able to get a meaningful response back from the JupyterHub REST API when it hasn't been opened at l

[2018-08-17 00:44] sarahrichmond commented on #13
@jevy-wangfei See link to list below. All the publishes with a 'Y' should be included.

https://docs.google.com/spreadsheets/d/1WvE4NrVdJMHLUlB_Ftmn5rm3nXa68HKfePfXdlJBShE/edit?usp=sharing

[2018-08-20 04:56] gweis commented on #21
This is done. Initial version of storage controller is deployed, but I do expect issues with it. I think we should close this issue, and track specific problems in separate issues. (maybe tagged appropriately, or otherwise grouped by or assigned to specific components)

[2018-08-20 04:57] gweis commented on #20
Done and deployed.

[2018-08-20 04:57] #20 closed, assigned to gweis

[2018-08-20 04:58] gweis commented on #1
Done.

[2018-08-20 04:58] #1 closed

[2018-08-20 06:46] manhinli commented on #11
Termination button is now implemented in ausecocloud/workspace-ui/pull/12.
The CORS headers are solved with separate configuration that is not included in the scope of the development work here.

As for the issue around not being able to fetch information from the JupyterHub REST API when the user has not yet "initialised" themselves in JupyterHub, this is a known issue and yet to be resolved. How

[2018-08-21 02:08] sarahrichmond opened #26 "Fix Google API error message"
When new server starts up this message pops up:

"Google API Error
Not a valid origin for the client: https://jupyter.ecocloud.org.au has not been whitelisted for client ID 625147942732-t30t8vnn43fl5mvg1qde5pl84603dr6s.apps.googleusercontent.com. Please go to https://console.developers.google.com/ and whitelist this origin for your project's client ID."

[2018-08-21 03:06] gweis commented on #26
duplicate of #4

[2018-08-21 03:06] #26 closed, assigned to gweis

[2018-08-22 00:27] sarahrichmond opened #27 "Fix bug on the server page, that fails when you first choose an option?"
Error message: Error: ('Connection aborted.', ConnectionResetError(104, 'Connection reset by peer'))

Screenshot attached.
<img width="830" alt="screen shot 2018-08-22 at 10 26 09 am" src="https://user-images.githubusercontent.com/14067061/44435952-db52b000-a5f5-11e8-906d-b378eea74b6b.png">

[2018-08-22 04:11] hoylen opened #28 "Freshdesk display of support articles"
Common

1. Change "ECOcloud" to "ecocloud" in the header. Perhaps using the new logo.
2. The footer might need to be updated with the correct logos.
3. Navigation links at the top (i.e. Knowledge Base and Forums) should match the ecocloud Platform navigation links as much as possible (i.e. Dashboard, Projects, Explorer, Tools, Support). Can at least "Knowledge base" be renamed "Support"?
4. Can th

[2018-08-22 04:13] hoylen commented on #27
Gerhard said this is a "known issue".

I have documented the work around in the [using Jupyter Notebooks](http://support.ecocloud.org.au/support/solutions/articles/6000200389-using-jupyter-notebooks) support article... but that assumes users read the article before trying to launch!

[2018-08-22 04:36] hoylen opened #29 "Broken links to server on dashboard"
On the Dashboard, when there is a server running, clicking on the name link "server" or "Open" button opens a new tab with a dialog box that says "Please use a different workspace" and asks for a URI friendly workspace name (whatever that is).

[2018-08-22 04:39] gweis commented on #29
I have no idea what these workspaces are, but the message also says:

'This workspace is already in use in another JupyterLab window. Please enter another workspace name.'

Not sure what the solution here is.

[2018-08-22 04:42] hoylen commented on #29
Remove the links, so the user doesn't get asked things they haven't got a hope of understanding?

Except, of course, there doesn't seem to be a way for the user to get back to their running server (not even to terminate it).

[2018-08-22 04:44] gweis commented on #29
For me this message only comes up if I have a lab frontend open in another tab. When I close that tab, this link works.

[2018-08-22 04:46] hoylen commented on #29
Me too.

Good that is the workaround. I'll document it.

[2018-08-22 04:46] #29 closed, assigned to nobody

[2018-08-22 23:58] gweis commented on #15
Not sure how we should tackle this.

Difficulty is, that first login events are unreliable (not even sure whether we can get those). Creating a default project on first attempt to read is usually difficult to implement and would violate the principle that data shouldn't change on a 'read' request.

I would rather suggest to change the workflow here.
One option I could think of would be to show a s

[2018-08-22 23:58] gweis commented on #5
done

[2018-08-22 23:58] #5 closed

[2018-08-22 23:58] gweis commented on #4
done

[2018-08-22 23:58] #4 closed

[2018-08-23 00:12] sarahrichmond commented on #15
@gweis I think we should just auto create a new project if none exists, call it 'My first project'.

That way users can log in and immediately get started without having any barriers first.

[2018-08-23 00:35] hoylen commented on #15
Now that *all projects* appear under a "Projects" directory in the home directory, does that change things?

Not having any project is no longer a road block to someone launching a server. (I just tested it: deleted all my projects and successfully launched a server). Previously, the design was going to require exactly one project to be available to a server.

We now have a new problem: if the use

[2018-08-23 01:09] hoylen opened #30 "Size of available project storage needs clarification"
How much storage is available to an account in ecocloud Projects?

The dashboard shows "9.3 GB" (which seems a strange amount). Also, is that in gigabytes (1000^4) or gibibytes (1024^4) -- if the later, it should say 9.3 GiB for improved clarity.

We need to know for the documentation, which currently says users get 10 GiB. That is liable to cause confusion, or upset users, if they then see they g

[2018-08-23 01:46] sarahrichmond commented on #30
@hoylen can you make sure you tag @gweis when asking these questions? And also assign the task to someone (if unsure assign to Gerhard and he can reassign if needed). It will make sure things don't go unanswered.

[2018-08-23 05:29] hoylen opened #31 "Project timestamp incorrect or not updating"
1. The "Last Modified" time on a project, as shown on the dashboard, doesn't update when a file is added to the project via the _ecocloud Projects_ page.

2. The detailed listing of projects (on the _ecocloud Projects_ page) only shows the date created and not the last modified time. You'd expect it to show it, since the dashboard (supposedly) had the information to show.

3. When a new project is

[2018-08-23 06:21] hoylen opened #32 "Remove "Launch in Compute" button from a project's page"
The "Launch in Compute" button doesn't make sense anymore.

This is on the project's page, where you can see the project's files and the "delete project" button.

Previously, a server was going to be connected to only one project. But now that a server is connected to all of the account's projects, having a _per-project_ launch button doesn't make sense.

[2018-08-23 07:13] hoylen opened #33 "Improve snippets so they work with different formats"
The current snippet works with text files (e.g. CSV):

[code]

But fails for other formats (e.g. XLSX, XLS), since it tries to interpret the binary data as UTF-8 encoded text and fails. That is, the above code produces an error.

This starts getting into the slippery slope of having different snippets for different types of files. Not to mention, what can a user do with an Excel file they have dow

[2018-08-24 02:25] gweis opened #34 "Enable local user sign up and login"
Configure Keycloak  to allow for logal user sign up and login. (what workflow do we want here?)

Once we know how the UI flow will be, we have to theme up keycloak as well.

[2018-08-26 23:36] sarahrichmond commented on #34
@gweis can you work with @manhinli on this one today?

[2018-08-27 00:15] #21 closed, assigned to gweis

[2018-08-27 00:20] hoylen commented on #15
Actually, users are _extremely likely_ to store their notebooks in _/home/jovyan/Projects_ instead of within a proper project (i.e. a subdirectory of it). That is because, by default, that is where JupyterLab is saving the notebooks it creates. So by default, the user is going to loose their notebook they think they have saved.

[2018-08-27 01:01] hoylen opened #35 "User friendly way to terminate a Jupyter server"
Provide a user friendly way to terminate a running Jupyter server.

Currently, the user has to go to the browser's URL field and manually change the JupyterLab URL from one ending in "/lab" to "/tree". And the URL might have query parameters, making it trickier for novice users to edit.

[2018-08-27 01:21] gweis commented on #35
There is a menu item in the lab interface "Hub", that brings you back to the control panel.

[2018-08-27 01:37] manhinli commented on #34
What do we need to consider for local user account registration? Currently we have:
* full name
* username
* email
* password

Current workflow would be:
1. Hit "Sign in" to get to sign in page
2. Click "Register" (or equivalent link)
3. Fill form
4. Submit form; user is redirected to ecocloud application as usual

If that's sufficient, then all we have to do is update small bits of the interface,

[2018-08-27 01:41] sarahrichmond commented on #34
This sounds good @manhinli and I think that's sufficient.

I would suggest having no 'username' but instead using only email. We've had so many issues with people forgetting their user name. I often think it's easier to use their email as a username. What are your thoughts?

[2018-08-27 01:49] hoylen commented on #34
Can we get rid of this step, by automatically redirecting them to the sign in page if they are not already signed in? See https://github.com/ausecocloud/ecocloud/issues/16

Getting people to pick their own username does cause problems.

Break that out into family name and given name? So we can sort lists by surname, if we need to.

This ticket overrides https://github.com/ausecocloud/ecocloud/issu

[2018-08-27 01:50] manhinli commented on #34
I agree - usernames can be forgotten. Because we don't really use the usernames in other ways (like identifying messages in a forum with a username) we can simplify it without too much hassle.

This can be configured easily in Keycloak with the "email as username" option.

[2018-08-27 01:51] hoylen commented on #35
Great. I'll update the documentation to use that.

[2018-08-27 01:51] #35 closed, assigned to gweis

[2018-08-27 01:54] manhinli commented on #34
My preliminary attempts a while back encountered an infinite redirect loop issue, so while it's certainly another click at the moment, I'll need to spend some time figuring out which part of that authentication handoff is causing the redirect loop.

I'll need to check how Keycloak handles that information.

[2018-08-27 01:54] sarahrichmond opened #36 "Change Freshdesk theme"
Download theme zip file here - https://support.freshdesk.com/support/discussions/topics/15989

Follow instructions here to install new theme to ecocloud support portal - https://support.freshdesk.com/support/solutions/articles/64344-how-to-use-a-ready-made-freshtheme

[2018-08-27 01:55] hoylen commented on #17
It looks like this has been done. Closing ticket.

[2018-08-27 01:55] #17 closed, assigned to manhinli

[2018-08-27 01:55] manhinli commented on #7
Some of the suggestions regarding use of the term "sign in" rather than "login" and other small textual changes has been incorporated into various parts already.
I would say that since we are trying to enable local sign in again in #34, that you can close this.

[2018-08-27 01:59] sarahrichmond commented on #15
@gweis I agree with @hoylen. We'll need to fix this somehow. Perhaps adding that default project and ensuring JupyterLab saves to that folder (instead of the over arching /Projects folder will fix it?

This is high priority. Important that users work is saved without too much effort on their end.

[2018-08-27 02:04] gweis commented on #15
mmm.... my last comment didn't seem to arrive here....

I am wondering whether we should get rid of the Projects feature entirely and treat the 'drive' section as one large storage. This would make syncing a lot easier, but sharing will be trickier later.

[2018-08-27 02:04] manhinli commented on #34
This is how it looks like at the moment (this was already in, but not yet enabled):

![image](https://user-images.githubusercontent.com/3337903/44636855-3cf98c80-a9f1-11e8-97b7-4e74b820707d.png)

Refer to above image; we already do that.

[2018-08-27 02:09] gweis commented on #15
Also regarding creating a default project. This is more difficult than it sounds.
1. We don't have yet events from a new user sign up / log in.
2. Creating a default project on first read is also a difficult one, because we modify / create a resource based on a read. This undermines some fundamental assumptions, that a simple read (GET) always does the same, which means, that we have to take care

[2018-08-27 02:13] hoylen commented on #34
1. Use "Family name" or "Surname" instead of "last", since the order depends on culture (e.g. Asian names write the family name first). Replace "First name" with another term too.

2. And no "Username" as mentioned already.

3. "Back to sign in" instead of "Back to login".

4. Do we want them to agree with some terms and conditions before proceeding?

[2018-08-27 02:13] sarahrichmond commented on #15
Hm, given Projects are meant to only be for code, then perhaps we don't need projects. Make's it a lot easier for users to safely save their scripts.

@hoylen what are your thoughts?

[2018-08-27 02:17] manhinli commented on #34
If you are considering internationalisation, I would suggest that we go for single fields for names [[1]](https://www.w3.org/International/questions/qa-personal-names). Names are difficult to really box into something like [first] [last] anyway, regardless of how you label them.

But if you still want 2 fields, then generally it'll be "given name" and "surname".

Do we have any?

[2018-08-27 02:28] sarahrichmond commented on #34
@manhinli

I think "given name" and "surname" works.

Yes, they will tick a box to indicate that they agree to the Terms of Use (same with the AAF log in). We have a draft of these, but waiting for them to go through legal at QCIF. Probably leave it out for now, and we can add it in when we have them published.

The users should have to tick the Terms of Use box each time they log in.

[2018-08-27 02:42] hoylen commented on #15
I'm worried that we are going back to calling it "Drive" again :-)

I fully support the idea of having just one big thing, and everything in it is preserved -- it is easier for the user to understand. Easier to document and less the user can get wrong.

Though at the same time we don't want to make sharing difficult for the user to understand and do, or make it too difficult for us to implement.

[2018-08-27 03:00] gweis commented on #15
I am not arguing about whether we should have a default project or not. It's probably necessary and should be there.

With initial 'example / tutorial project' I meant a project curated by us, that has notebooks and documentation about how to use the platform. A user can look at them (not yet implemented) or just clone (not implemented either) it and play around with a curated set of notebooks tha

[2018-08-27 03:50] sarahrichmond commented on #15
I agree. Lets discuss and whiteboard it out on Wednesday at UQ.

[2018-08-27 04:00] manhinli commented on #34
The minor UI/stylistic changes have been done under ausecocloud/keycloak_theme/pull/1.

I've also used the term "family name" instead of "surname".

[2018-08-27 04:03] manhinli commented on #34
As for configuration of Keycloak - once the theme changes have been merged in, the administrator (@gweis?) will then need to enable local account registration and change the identifier to be email-only.

[2018-08-27 04:12] manhinli commented on #33
Will remove the decoding stage from the Python snippet.

[2018-08-27 05:03] manhinli commented on #16
I've now revisited this and have had success in implementing automatic redirects to the sign in page when the session's user is determined to be not authenticated.

I have not chosen to make the tools page public because reaching the page itself would be difficult if it was the only bit of content made public - every path leading to that page would probably end up redirecting you to the authentica

[2018-08-27 05:24] manhinli commented on #34
@gweis Note that the "base URL" for the application in Keycloak ("workspaceapp") must be set or one of the links in a "You are already signed in" page will be broken.

[2018-08-27 05:31] sarahrichmond opened #37 "Add 'alpha' tag to the ecocloud logo and add it to application"
Replace existing logo on ecocloud app, to new one with an 'alpha' tag on it.

Source files (illustrator) for the logo can be found here - https://drive.google.com/open?id=1yKTWZjA8kdfyz3-RswWOWo5-c6MWxAvl

[2018-08-27 05:33] manhinli commented on #30
The API currently returns `10000000000` as the value (presumably in bytes), so a decision will need to be made on how this should be presented in terms of units.

[2018-08-27 05:36] sarahrichmond commented on #30
Preferably it should just say 10GB - I think that's what our users will understand the most.

[2018-08-27 05:37] manhinli commented on #37
How would you like the "alpha" tag to appear and be located?

For example:
* over the logo icon, text/wordmark, both?
* size?
* font and colour?

[2018-08-27 05:45] hoylen commented on #30
I've changed the documentation to say "10 GB" (where 1 GB is 10^12 bytes). The dashboard needs to divide by 10^12 instead of 2^40 to match.

[2018-08-27 05:58] sarahrichmond commented on #37
@manhinli as the UI designer I am happy to take your advice.

Have attached an image of how we do it for BCCVL. We could take a similar approach, but happy to see if you have other ideas.

ecocloud font is Cabin.
<img width="216" alt="screen shot 2018-08-27 at 3 53 01 pm" src="https://user-images.githubusercontent.com/14067061/44642965-0b44ed80-aa12-11e8-9ca3-dfce3b0a7412.png">

[2018-08-27 05:59] manhinli commented on #37
I'll play around then 😄

[2018-08-27 06:03] manhinli commented on #37
I've shifted the text up slightly and placed the alpha text underneath. What do you think?

![image](https://user-images.githubusercontent.com/3337903/44643124-adfd6c00-aa12-11e8-8491-815b8d50649a.png)

[2018-08-27 06:08] sarahrichmond commented on #37
Looks great! Happy to go ahead with that.

[2018-08-27 23:45] sarahrichmond opened #38 "Server terminate button on dashboard does not work"
The server terminate button on the dashboard is inactive/does not do anything?

![screen shot 2018-08-28 at 9 43 37 am](https://user-images.githubusercontent.com/14067061/44692608-04b48580-aaa7-11e8-9b3b-f3ce97157539.png)

[2018-08-27 23:51] manhinli opened #39 "Configure Keycloak to enable local account registration and log in"
Keycloak needs to be configured to enable local account registration and log in for the relevant realm.

The settings to configure:
* Realm settings
  * Login
    * User registration = ON
    * Email as username = ON

[2018-08-27 23:51] manhinli commented on #39
This should be assigned to @gweis.

[2018-08-28 00:39] sarahrichmond opened #40 "Improvements to Explorer UI search facets"
- [ ] Need to remove the setting of limitation 25 records in the elastic search query as only top 25 publishers and 25 formats are returned from KN api - we want to increase this.
- [ ] Collapse for the large number of publishers and formats.
- [ ] Perhaps add text search bar so people can find what they are looking for.

[2018-08-28 00:53] manhinli commented on #16
Had to revert the implementation of this feature due to inconsistent behaviour which leads to stalling.

[2018-08-28 05:56] gweis commented on #38
fixed by enabling DELETE for CORS requests.

[2018-08-28 05:56] #38 closed, assigned to manhinli

[2018-08-28 06:56] manhinli commented on #40
Work has now been submitted as part of ausecocloud/workspace-ui/pull/16.

* Query now expanded to 10k items, which should be sufficient for the foreseeable future
* Collapsing and filter field implemented

[2018-08-28 22:54] gweis commented on #2
This particular issues is fixed, and dropbox upload works again.

One big issues is left though. Currently the js UI is only able to upload files from the notebook root folder. (will be fixed in another issue)

[2018-08-28 22:54] #2 closed

[2018-08-29 00:32] manhinli commented on #22
Because we can't differentiate between those who have signed in via AAF vs local in order to do this, we have decided to simply remove the component for now as its functionality is very limited at this point.

[2018-08-29 01:08] manhinli commented on #18
Are we still running with the initial suggestion or what we have on the support site at the moment (which appears to be simpler)?

[2018-08-29 01:29] hoylen opened #41 "Web style guide"
We need a good style guide for all three ecocloud Web properties to follow.

Even better would be a set of templates/fragments (CSS and HTML) that can be used to implement the style guide consistently across all three Web properties: the ecocloud Platform, Freshdesk and WordPress.

The current design lacks:

- Legibility (light green text on a grey background doesn't have enough contrast).
- Consi

[2018-08-29 01:43] hoylen commented on #22
Good.

[2018-08-29 01:43] #22 closed, assigned to manhinli

[2018-08-29 01:53] hoylen commented on #18
It is simpler because we don't any tutorials or a FAQ yet :-)

[2018-08-29 02:29] sarahrichmond opened #42 "Changes to Projects/Workspace"
- [x] Rename Projects to Workspace
- [x] Remove folder structure and 'Add Project' button
- [x] Have Workspace page show all files/list of files.

[2018-08-29 02:32] sarahrichmond opened #43 "Switch layout of log in page"
Switch the layout of the log in page to show AAF first with header 'Log in using your University ID'

And then have a section below this that says 'Log in with another account' and show Google and local account.

This will hopefully encourage those that have AAF log ins to use that instead of Google or local accounts.

[2018-08-29 02:33] sarahrichmond opened #44 "Add 'Scratch' folder to JupyterLab"
Add a 'Scratch' folder in JupyterLab that sits under the 'Workspace' (previously Projects) folder.

This is where all the data that a user loads into a server should go.

[2018-08-29 02:41] hoylen commented on #43
`s/log in/sign in/ig`

[2018-08-29 05:26] sarahrichmond opened #45 "Add Terms of Use check box before all log in buttons"
Can be similar to how we do it in BCCVL (see screenshot).

Sarah to add ToU to website first

[2018-08-29 05:47] manhinli commented on #43
It seems that AAF and Google account sign in are all considered the same type of login by Keycloak - an external third party provider (which it technically is) - so there's no nice way of breaking that into two groups unless I go and make an explicit "name === 'AAF' -> go here" sort of filter.

[2018-08-29 05:48] hoylen commented on #18
The "top" page on the support site is now <http://support.ecocloud.org.au/support/solutions> (instead of the "/support/home" page). Please update the "Support" navigation links to go directly there.

If anyone accidentally lands on the "/support/home" page (e.g. they visited "http://support.ecocloud.org.au/"), Javascript on that page will redirect them to the "/support/solutions" page.

Note: curr

[2018-08-29 23:08] gweis commented on #44
Done.

When we have got some time, and know usage requirements, we may want to revisit this, and check what type and size of storage we want to put behind the various mount points.

[2018-08-29 23:08] #44 closed, assigned to gweis

[2018-08-29 23:11] gweis commented on #34
We also want a cpatcha there, otherwise we will see robots creating 1000s of accounts.

Keycloak supports Google's reCaptcha out of the box.

[2018-08-29 23:12] gweis commented on #39
related to #34

[2018-08-29 23:35] manhinli commented on #42
Currently have got changes filed in a PR that renames references to "ecocloud Projects" into "ecocloud Workspace", however the actual usage and layout is the same and I have not yet removed the component that lists the available projects.

Things like "Add/delete project(s)" buttons are still present because the fundamental structure of it has not changed and this will require work:
* default, sin

[2018-08-30 05:12] gweis commented on #42
all done

[2018-08-30 05:12] #42 closed, assigned to manhinli

[2018-08-31 03:49] gweis commented on #34
done

[2018-08-31 03:49] #34 closed, assigned to gweis, manhinli

[2018-08-31 03:49] gweis commented on #39
closed in #34

[2018-08-31 03:49] #39 closed, assigned to gweis

[2018-08-31 05:10] hoylen commented on #36
I've hacked the "Clear Support" theme to make it look like the app.ecocloud.org.au pages.
It is not perfect, but we can revisit it once an improved ecocloud theme has been created for use across all three sites (i.e. the ecocloud Platform, FreshDesk and WordPress).

[2018-08-31 05:10] #36 closed, assigned to hoylen

[2018-08-31 05:32] hoylen opened #46 "Improve text in email address verification email"
When a user registers their email address and password, they get an email sent to their email address.

1. Change the From & Reply-To address name to be "ecocloud Support" instead of just "Support".
2. Change the subject to be something like "ecocloud login registration: email address verification" instead of just "Verify email".

It would be nice to show the full verification URL in the message (

[2018-08-31 05:34] #7 closed

[2018-08-31 05:36] hoylen commented on #30
Completed:
- The dashboard is now reporting 10.0 GB; and
- The documentation now says the same thing.

[2018-08-31 05:36] #30 closed, assigned to gweis

[2018-08-31 05:38] hoylen commented on #15
Issue closed: _projects_ have been replaced by a single **workspace**.

[2018-08-31 05:38] #15 closed

[2018-08-31 05:39] hoylen commented on #28
A custom theme is now being used for the FreshDesk support site, and it address most of these issues.

[2018-08-31 05:39] #28 closed, assigned to sarahrichmond

[2018-08-31 05:41] hoylen commented on #31
This issue is longer relevant, since _projects_ have been replaced by a **workspace**.

[2018-08-31 05:41] #31 closed, assigned to gweis

[2018-08-31 05:41] gweis commented on #46
I have changed the From address header (and removed the separate reply-to address, it should use the from now as well)

James, can you check whether it's possible to change the email template?

[2018-08-31 05:43] manhinli commented on #46
Template located at: https://github.com/keycloak/keycloak/blob/master/themes/src/main/resources/theme/base/login/login-verify-email.ftl

[2018-08-31 05:47] gweis commented on #46
I guess if it is just about the text we have to modify this here
https://github.com/ausecocloud/keycloak_theme/blob/master/theme/login/messages/messages_en.properties

[2018-08-31 05:50] hoylen commented on #46
Probably no need to modify the text, unless you or Sarah wants it changed.

I wouldn't expand out the current URL, since it would be too ugly -- unless Keycloak can generate a shorter token.

It is fine for the alpha release.

[2018-09-02 23:58] hoylen commented on #46
I'll close this ticket on the assumption it is now fine. I can't really test it, without finding another email address to use to create a Keycloak login.

[2018-09-02 23:58] #46 closed, assigned to manhinli

[2018-09-03 00:03] manhinli commented on #46
Putting this note in for future reference:

* email template and message content: https://github.com/keycloak/keycloak/tree/master/themes/src/main/resources/theme/base/email
* login/registration "verify email" page content: https://github.com/keycloak/keycloak/blob/master/themes/src/main/resources/theme/base/login/login-verify-email.ftl

[2018-09-03 00:05] hoylen commented on #43
With the appropriate CSS selectors, you can probably target the AAF button and move everything on the page around (without needing to change the page structure that Keycloak generates). Probably not for the alpha release, since it will take a lot of time to get right.

Any chance the ecocloud/local login's email address and password fields can be made smaller and/or moved around on the page (so th

[2018-09-03 00:07] #32 closed, assigned to manhinli

[2018-09-03 00:15] manhinli commented on #43
At the moment I have it split with two regions stacked vertically, so I'll probably press ahead and finish to roughly what we had envisaged the other day.

![image](https://user-images.githubusercontent.com/3337903/44962346-0fb55d00-af62-11e8-9078-b4bca17d8acc.png)

[2018-09-03 00:17] hoylen commented on #43
Perfect.

[2018-09-03 01:01] manhinli commented on #43
What I have now is this, with the local account form hidden by default, and toggled by the "Sign in with ecocloud" button.

![image](https://user-images.githubusercontent.com/3337903/44962810-9705cf00-af68-11e8-8ab3-ecc0f9737a22.png)

[2018-09-03 01:16] hoylen commented on #43
That is beautiful.

I assume the "New user? Register" only appears when the "Sign in with ecocloud" reveals the ecocloud Account options.

The heading: "ecocloud Account" vs "ecocloud login"? See thoughts about this in https://github.com/ausecocloud/ecocloud/issues/46

[2018-09-03 01:18] manhinli commented on #43
Not by default - and not at the moment either, because if you do end up hiding it then people who don't have an account at any of the services listed would be absolutely lost.

I'm thinking of changing the wording entirely to something like "Don't have any of the above accounts? Register for an ecocloud account".

[2018-09-03 01:22] manhinli commented on #46
I do get what you're trying to say, but we're already using the phrase "sign in" as the verb, so "sign in with your ecocloud login" feels off, considering that "login" is accepted generally as both a verb and noun.

Maybe something like "Sign in with your ecocloud ID"?

[2018-09-03 01:26] hoylen commented on #43
That makes sense.

The rewording is great. I was worried that people with AAF and/or Google might think they still need to register.

[2018-09-03 01:36] manhinli commented on #43
Here's a shot of the collapsed state of the form with the new wording and my suggestion to use "ecocloud ID" from #46.

![image](https://user-images.githubusercontent.com/3337903/44963402-86a42300-af6d-11e8-991a-b6f7b4b3b0c0.png)

[2018-09-03 01:36] hoylen commented on #46
"ecocloud ID" works.

My point is there are two concepts and we should not overload the same word to mean one or the other in different contexts.

The two concepts (nouns) being:
- The Keycloak thing which the user uses to authenticate: it only apples when they are not using AAF or Google.
- The common thing every user will have: it always applies, regardless of which authentication mechanism they

[2018-09-03 01:40] hoylen commented on #43
How about "Sign in using another ID" and "Do not have any of the above IDs?" -- that will perfectly satisfy my concern about the overloading the word "account".

[2018-09-03 01:42] manhinli commented on #46
I did understand that - since everyone that exists on the platform has an "account/identity/user" of some sort, the problem stems from the fact that we're branding the authentication service as being part of the same thing as the application.

We'll end up just splitting hairs and becoming too technical if we do start making it "correct".

[2018-09-03 01:43] manhinli commented on #43
"Do not have any of the above IDs" sounds really stiff. Would "don't" be acceptable?

[2018-09-03 01:45] hoylen commented on #43
Yes, "don't" is fine :-)

[2018-09-03 01:45] manhinli commented on #43
Done.

[2018-09-03 04:21] manhinli commented on #41
I'm going to get started on building up styles for this, however things like responsiveness and minimum browser support are more general requirements for the application itself and should be done in consultation with stakeholders.

[2018-09-04 02:52] manhinli commented on #41
I've made an HTML document that contains various colours and elements - search for "ecocloud styles html" in Google Drive, download and open in your browser.

It's still a work in progress and I think it'll change as we start seeing how it fits. Most of it is based on existing elements used in the application so far, but I'm also trying to change some of it for readability and consistency.

[2018-09-12 05:15] gweis commented on #43
deployed

[2018-09-12 05:15] #43 closed, assigned to manhinli

[2018-09-17 03:46] sarahrichmond opened #47 "Placeholder text updates"
**PAGE - DASHBOARD:**

(1)
Replace: [intro text]
With: Welcome to your _ecocloud Platform_. This is your Dashboard where you can access and manage your running services. Need help? Visit our [support site] (http://support.ecocloud.org.au/support/solutions), or [contact our support team] (https://ecocloud.org.au/contact/).

(2)
Getting Started
Replace: [links to support articles]
With:
See our [gui

[2018-09-17 05:18] hoylen opened #48 "Secure HTTPS on support.ecocloud.org.au"
If you visit any <https://support.ecocloud.org.au> (secure HTTPS URL) you get redirected to the insecure version of the page <http://support.ecocloud.org.au>.

While that is better than throwing up an "insecure connection" message at the user, it defeats the purpose of having HTTPS.

Minimally, we want the HTTPS pages working and not redirecting the user to an insecure page. Even better would be t

[2018-09-17 05:21] hoylen opened #49 "Secure HTTPS on www.ecocloud.org.au"
HTTPS on <https://www.ecocloud.org.au> is not working.

The TLS server certificate is a self-signed certificate and it is for the wrong domain name.

[2018-09-17 05:38] manhinli commented on #47
Changes made in https://github.com/ausecocloud/workspace-ui/pull/18/commits/e6c3e3939536ba0ec3b6859d3dd9e6e8ddbbc95a

Note that the link to the support team currently points to https://ecocloud.org.au which still has certificate issues and is not usable until that is resolved.

[2018-09-25 00:05] #37 closed, assigned to manhinli

[2018-09-25 01:24] manhinli opened #50 "Remove direct links to resources from the Explorer results list"
At the moment we list resources within each result in the Explorer as a link to the URL of the resource (where available.)

We would like to discourage and reduce the number of accidental direct downloads of resources, and so will be removing the links but preserving the text. It would also be desirable to have the text control the checkbox to the left that places it into snippets.

[2018-09-26 01:05] manhinli opened #51 "Set up user auth integration for Ecocloud to CoESRA Virtual Desktop tool launch"
As discussed in meeting on 2018-09-26, direct launching of the CoESRA Virtual Desktop platform from Ecocloud is desired, with as much of the auth stuff integrated so that users don't have to repeatedly sign in to different services.

There was already a test platform set up that allowed CoESRA to control the launching of Ecocloud notebook servers from their end, so it should be similar, just with

[2018-09-26 01:28] manhinli opened #52 "Promote common file types considered as "data" towards the top of the resource type filter"
The resource type filter in the Explorer is currently sorted by each type's total item count, in descending order.

As we would like to promote the Explorer as a place for finding accessible data and not just any file (such as standard links, or data encoded in PDFs/binary formats which are hard to read from), an idea to have such common file types appear in the collapsed mode first, with all file

[2018-10-02 00:51] sarahrichmond opened #53 "Fix error on server page"
When starting a new server you get an error message about connection aborted.

Solution: Need to add timeout to request.

[2018-10-02 03:51] sarahrichmond opened #54 "Write API for 'splice and dice' tool (WPS)"
**Allow users to subset a data file to a given geographic region.**

Similar to https://github.com/bird-house/flyingpigeon/blob/master/flyingpigeon/processes/wps_subset_countries.py

- Add ability to subset by regions in Aust (can use the ones we have in BCCVL, i.e. State, IBRA, Catchment, Local Government Area etc. These are fetched from ALA).

[2018-10-02 03:52] sarahrichmond opened #55 "Create UI for 'Splice and Dice' Tool"
Need to meet once API complete to draw up UI

[2018-10-02 03:56] sarahrichmond opened #56 "Write API for 'Exploratory Data' Service (WPS)"
**User should be able to add in a csv (with lat and lon) and combine with spatial grids and get some exploratory data analysis results.**

Follow similar structure to https://github.com/bird-house/flyingpigeon/blob/master/flyingpigeon/processes/wps_subset_countries.py

Use exploratory analysis code from BCCVL. Include all results as provided by BCCVL.

[2018-10-02 04:25] sarahrichmond opened #57 "Allow users to export files from workspace"

[2018-10-02 04:25] sarahrichmond opened #58 "Allow users to see storage consumption from Workspace UI"

[2018-10-02 04:26] sarahrichmond opened #59 "Allow users to view files in Workspace"
i.e. enable them to view Notebooks, text files, images. Things that are easily viewable in a browser.

[2018-10-02 04:29] sarahrichmond opened #60 "Add priority labels for GitHub"

[2018-10-03 06:28] manhinli commented on #57
The current state of `workspace` already has a download file endpoint; however the way it works is slightly problematic:
* it's a `GET` request (which is fine by itself)
* you need the Authorization header (also fine by itself and is used for security purposes)
* it generates a temporary URL that should link to the object store and redirects (HTTP 302 with `Location` header) the request immediatel

[2018-10-03 20:33] gweis commented on #53
duplicate of #27

[2018-10-03 20:33] #53 closed, assigned to gweis

[2018-10-03 20:37] gweis commented on #57
CORS headers should be set in swift now. (adding that to workspace backend as well)

[2018-10-04 03:05] gweis opened #61 "test jupyterlab thredds extension"
https://www.npmjs.com/package/@ewatercycle/jupyterlab_thredds

[2018-10-04 05:35] hoylen commented on #48
It is now working, after submitting a support ticket with FreshDesk. Apparently, the "problem was it was added to your portal but it was not enabled from the backend".

[2018-10-04 05:35] #48 closed, assigned to hoylen

[2018-10-05 04:15] gweis commented on #45
I think Keycloak would provide that functionality as well. Using that feature (let's hope it does what we want), would put it in front of every log in and we probably have a flag stored inside keycloak to know who accepted it and who didn't.

Whenever we change it, we cane force users to accept that again.

Advantage with Keycloak ... it will actually be enforced
Disadvantage (way be an advantage

[2018-10-09 06:41] manhinli commented on #57
I believe this is still an issue:
* The redirect still occurs, but browsers still fire off an OPTIONS request as part of it because it still tries to submit the `Authorization` header to the redirected URL, and that triggers a CORS check due to it no longer being a "simple" request, and
* The Nectar object store doesn't seem to like OPTIONS requests and returns 401 Unauthorized for them for some r

[2018-10-09 21:33] gweis commented on #57
That's a bit of an unexpected behaviour. I didn't think that it would pass the Authorization header on to the redirected URL as well. The GET request to swift should not include any Authorization headers at all. (It's an external system which should not see that token in any case). Could it be that the axis request interceptor (https://github.com/ausecocloud/workspace-ui/blob/master/src/api/worksp

[2018-10-09 23:47] manhinli commented on #57
Yes, the inclusion of the `Authorization` header in the API call is what the browser carries forward when it is redirected by `workspace` to the swift object store.

This appears to be known browser behaviour with other people facing the same issue and finding no real resolution, so we will need to change the API to no longer redirect so that we can use it in the browser.

Alternatives:
* As you m

[2018-10-10 06:11] manhinli commented on #57
A new endpoint was created by @gweis today to allow the generated resource URL to be delivered to the client through the response body rather than through a redirect which we can't control.
https://github.com/ausecocloud/workspace/commit/84c989e33ccd32700978a5e25b1c4aa1001a8fa5

Basically this resolves the issue and I'm about the finish off the downloading feature.

A point that was raised after t

[2018-10-10 06:29] manhinli commented on #57
I believe there may still be outstanding issues with `workspace` returning generated resource URLs which are invalid by the time the user receives the URL, and it does not appear to be a client caching issue because the URLs are different in my limited testing.

Haven't filed a separate issue as were still in discussions about what to do regarding caching and we might pick it up there.

[2018-10-14 23:14] sarahrichmond opened #62 "Make 'Explorer' public - i.e. don't need to log in to view/use"

[2018-10-15 02:06] sarahrichmond opened #63 "Change links to Support and Feedback form"
I get an insecure site warning (see screenshot) when trying to access the Request Support and Provide feedback links in the footer of the app.

<img width="945" alt="screen shot 2018-10-15 at 12 00 28 pm" src="https://user-images.githubusercontent.com/14067061/46926091-a9e4e680-d072-11e8-84f5-4ab691c4f92e.png">

Error says: www.ecocloud.org.au uses an invalid security certificate. The certificate

[2018-10-15 02:41] hoylen commented on #63
I know. Solving https://github.com/ausecocloud/ecocloud/issues/49 with WordPress will fix that.

I can go through and edit all the links on the support site to http (and then later change them all back to https once WordPress works properly), but it would certainly be less much effort if #49 can be quickly fixed. Is there anything that prevents Wordpress from being fixed in a reasonably quick time

[2018-10-15 02:44] sarahrichmond commented on #63
@hoylen the Wordpress site should be working properly now.

<img width="1438" alt="screen shot 2018-10-15 at 12 43 54 pm" src="https://user-images.githubusercontent.com/14067061/46927298-01398580-d078-11e8-90c0-9610428c9caa.png">

[2018-10-15 02:49] hoylen commented on #49
A QuoVadis certificate has now been added to the WordPress site.

Unfortunately, that certificate is only for the domain name of "ecocloud.org.au" and there is no SubjectAltName for "www.ecocloud.org.au" in it, so it is not going to work for people visiting https://www.ecocloud.org.au/ (with the "www").

We have two options:

1. Get a new certificate with the correct SubjectAltName and install tha

[2018-10-15 02:54] sarahrichmond commented on #49
@gweis are you able to look into getting a cert. for www.ecocloud.... ?

[2018-10-15 02:57] hoylen commented on #49
@gweis One certificate that supports **both** "www.ecocloud.org.au" and "ecocloud.org.au".

[2018-10-15 03:04] hoylen commented on #49
@gweis Ideally, both domain names should appear in the SubjectAltName -- not one in the common name and the other in the SubjectAltName (even though that usually works). This is because future versions of Chrome/FireFox will no longer recognise the domain name from the common name. https://www.chromestatus.com/features/4981025180483584
https://textslashplain.com/2017/03/10/chrome-deprecates-subjec

[2018-10-15 03:23] gweis commented on #49
I was under the assumption, that Wordpress supports only one domain name... it will always redirect to the configured domain name, so one domain name should suffice.

I.e. if Wordpress is configured to serve the domain ecocloud.org.au, then it will always redirect to ecocloud.org.au even if you browser to the site via www.ecocloud.org.au.

I can try and ask for a certificate with multiple domain n

[2018-10-15 05:54] hoylen commented on #49
Your assumption sounds plausible, but it seems WordPress.com does support [multiple domains](https://en.support.wordpress.com/domains/all-about-domains/). I am surprised they don't charge extra for it!

There are two types of redirection we want. (The text below assumes the preferred domain does not have the "www" in it -- I actually prefer it with "www", but it is an uphill battle against the mig

[2018-10-23 02:02] gweis commented on #62
That's a pure UI issue ... Assigning it to James. Let me know if you need help (i.e. not enough time)

[2018-10-23 23:20] sarahrichmond opened #64 "Create a demo instance for the UI front end"
This will allow us to run tests on WPS features and test the front ends before going live

[2018-10-23 23:39] sarahrichmond opened #65 "Check for encoding on resources from KN to allow for more dynamic snippets"
Knowing the encoding will enable us to write more dynamic snippets where we can visualise the data better

[2018-10-24 00:41] manhinli commented on #62
Will probably need to reorganise how we handle the public/authenticated workflows because users who get to Ecocloud at the moment will encounter the sign in prompt - if I just enable the Explorer to be public, the rest of the site would still prompt to sign in, which is both confusing and annoying as you need the direct URL.

My guess the work involved to properly do this is:
* menu bar will be co

[2018-10-24 01:35] jyucsiro commented on #65
Found this python library which can detect the csv encoding
https://github.com/chardet/chardet

The CSV code in a jupyter environment then gets a bit messy though trying to figure out which encoding to use... there could be 30+ types

[2018-10-24 01:38] manhinli commented on #59
Would you like this to be similar to the way BCCVL handles files for previewing?
Viewing notebooks would in this case launch into the JupyterHub environment, which will need further investigation, but other resources like images and text should be fine.

Notes/ideas:
* make the difference between previewing/downloading clear
* file popup/over to separate component
* split pane directory & resource

[2018-10-24 05:58] manhinli commented on #54
Progress so far:
* got PyWPS (and other example) platform going
* in the progress of working through issues with own API

Have hit a number of issues with PyWPS which I've discussed with @gweis as well:
* mysterious UTF-8 encoding processing issue which I'm currently guessing is in PyWPS, but somehow works in another platform running PyWPS...
* debugging has been a pain because of the way PyWPS se

[2018-10-24 07:50] hoylen commented on #65
And it is not just the character encoding that might be different. I've seen many variations of CSV around (e.g. how they treat commas, new lines and escaping characters in values). There is no real standard... and even if there was, not everyone might implement it properly.

It feels like we need a **general framework** where different snippets can be assigned to different data sets, based on an

[2018-10-24 23:08] sarahrichmond opened #66 "Find fix for error that occurs when starting a new server"
Have had a few messages come through from people saying there is an error.

This is the recurring error we get when trying to start a new server (see screenshot). I think we need to dedicate time to fixing this.

<img width="786" alt="screen shot 2018-10-25 at 9 07 10 am" src="https://user-images.githubusercontent.com/14067061/47466633-815ca980-d835-11e8-96b3-d0749485de13.png">

[2018-10-24 23:12] gweis commented on #66
duplicate of #27 ... fix is in the queue and will be deployed soon

[2018-10-24 23:12] #66 closed, assigned to gweis

[2018-10-24 23:33] gweis commented on #27
fix deployed

[2018-10-24 23:33] #27 closed, assigned to gweis

[2018-10-24 23:35] gweis commented on #3
This is implemented and deployed. I suggest we track any UI/UX changes in a new ticket.

[2018-10-24 23:35] #3 closed

[2018-10-24 23:39] gweis commented on #6
File context menu is not easy to implement. The JupyterLab file browser context menu can't be extended this way.

To make this work we would need to fork the JupyterLab file browser, or try to get our changes merged upstream.

I suggest we track any UI/UX changes (even if we really want context menus) in a new ticket. Before we do this, we may want to think about how integration with other cloud s

[2018-10-24 23:39] #6 closed

[2018-10-29 01:51] hoylen opened #67 "Dropbox export: popup blocked"
Exporting from JupyterLab to Dropbox does not work for me. The browser blocks the popup window from appearing. Note: it does not get blocked for Dropbox imports, so I can successfully import from Dropbox.

This is on Safari and Chrome on the Mac.

After being blocked, sometimes the text "Export to Dropbox" gets added to the bottom of the JupyterLab file browser (see attached screenshot).

![screen

[2018-10-29 01:57] gweis commented on #67
Ok…

The progress bar should not appear. (I’ll look into that one as well)

However, I can see the little 'popup blocked icon’ in your address bar ;)

Cheers,

Gerhard

[2018-10-29 01:58] hoylen commented on #63
The WordPress is still not working properly (as of 2018-10-29). It is still using the "no-www" only certificate, instead of the "www and no-www" certificate.

But I have now changed the "https://www.ecocloud.org.au" links to "https://ecocloud.org.au" in the support site. Even when the certificate is fixed, we need to pick one version as the canonical domain name and the other one redirects to it.

[2018-10-29 02:06] hoylen commented on #67
Well spotted. Good. That's a workaround: click on the icon and tell it not to block popups from that hostname.

It works on Chrome, but in Safari the popup window appears, but with a "Could not communicate with https://jupyter.ecocloud.org.au" error message.
![screen shot 2018-10-29 at 12 02 18 pm](https://user-images.githubusercontent.com/1381377/47625773-f3edc200-db72-11e8-80a0-c0c11e72b900.png)

[2018-10-29 02:11] gweis commented on #67
Confirmed,... I see the same issue.

Clicking on the export link a 2nd time opens the popup.

It seems like, the first click enables the popup and opens it, but something goes wrong then. Maybe some parameters are not being passed on after allowing the first popup.

Still the export progress bar hangs around though. I"ll have to check the error code we get back and make sure that the progress bar

[2018-10-29 02:27] hoylen commented on #67
Yes, the dialog box appears when I tried it again. I'll document "trying twice" as a workaround to that error message.

I'm currently testing to see what happens if you import/export a file with the same name that is already there.

a. It doesn't show a warning or ask what the user wants to do.
b. Export to Dropbox creates an extra file with (1), (2), etc. added to the filename.
c. Importing to Ju

[2018-10-29 02:29] gweis commented on #67
Yes, that's the behaviour ... I am not sure whether we can overwrite files on the dropbox side. So (b) may not be changeable by us.

(a) and (b) ... that's probably something to think about. We have full flexibility there.

[2018-10-29 02:35] hoylen commented on #67
I've documented the current behaviour, so just let me know if it changes.

I'm favouring consistency, so maybe we should make JupyterLab rename the files in the same way Dropbox does. Though we will have to figure out how their algorithm behaves in edge cases (e.g. if there are multiple files being uploaded, or some numbers already exist).

And if export can't prompt about clashes, then import sho

[2018-10-29 04:28] hoylen commented on #63
James,

Can you please update the links in the app.ecocloud.org.au pages to go to https://ecocloud.org.au instead of https://www.ecocloud.org.au?

I think that is the only place that still has the www in the domain name of the WordPress site. But if there are others, please change them there also.

Thanks.

Hoylen

[2018-10-29 04:31] manhinli commented on #63
No problem, will do.

[2018-10-30 05:25] gweis commented on #64
done.

[2018-10-30 05:25] #64 closed, assigned to gweis

[2018-10-31 22:49] gweis commented on #67
Safari is a bit special here ... looking at the logs I can see this error message after allowing popups.

Unhandled Promise Rejection: Error: Failed to open/load the window. Dropbox.choose and Dropbox.save should only be called from within a user-triggered event handler such as a tap or click event.

Seems like the handler that opens the popup, is not valid. This needs to be catched inside the dro

[2018-11-01 01:45] gweis commented on #67
fix for progress bar deployed to test

[2018-11-01 02:11] sarahrichmond opened #68 "Change 'Save As' path in JupyterLab to default to workspace/"
This is particularly important when working with notebooks accessed from github through the jupyterlabs interface

[2018-11-01 02:12] sarahrichmond opened #69 "Investigate saving options through JupyterLab"
Currently the 'save' notebooks workflow is very clunky, and it differs depending where you accessed the notebook from.

[2018-11-02 02:45] sarahrichmond opened #70 "Can't open a server from the Dashboard"
I get stuck in a loop when trying to open an existing server from the dashboard.

I get the below screen after clicking 'Open'. I enter a workspace name but it keeps bringing me back to the screen to enter a workspace name.

<img width="1440" alt="screen shot 2018-11-02 at 12 43 51 pm" src="https://user-images.githubusercontent.com/14067061/47891013-30842b00-de9d-11e8-814c-ad28532154e0.png">

[2018-11-05 22:17] gweis commented on #63
all links changed

[2018-11-05 22:17] #63 closed, assigned to hoylen, manhinli

[2018-11-05 22:47] manhinli commented on #63
Thanks @gweis - I've also just updated the Keycloak theme to change the links there too: https://github.com/ausecocloud/keycloak_theme/pull/4

[2018-11-05 23:36] gweis commented on #63
Thanks @manhinli . Totally forgot about the keycloak theme.

[2018-11-12 00:53] gweis commented on #70
@sarahrichmond,

Can't reproduce anymore. Seems like this issue has been fixed with our last image update.
We could think about changing the text in that popup dialog. (or just update documentation?)

[2018-11-12 00:54] #50 closed, assigned to nobody

[2018-11-12 01:26] manhinli opened #71 "Change snippets to only download, but not read/decode data into the environment"
At the moment, the snippets for Python and R are reading in the content of the file into the environment, but this is causing a few headaches:
* there is no one baseline format to read into - we can't always assume it is text
* the code for R is problematic for a variety of reasons - one of which is the `getURLContent()` function which doesn't follow redirects (and bugs out when instructed to)
* s

[2018-11-12 04:38] manhinli commented on #71
Done, sent through as part of PR: https://github.com/ausecocloud/workspace-ui/pull/23

[2018-11-12 04:40] manhinli commented on #54
Progress made last week with the establishment of a demonstration WPS server, with a NetCDF-compatible spatial subsetting process included.

Will review over the work, and also build up a notebook to demonstrate usage as suggested in meeting on Wednesday.

[2018-11-12 05:35] gweis commented on #71
merged and deployed

[2018-11-12 05:35] #71 closed, assigned to nobody

[2018-11-21 00:50] manhinli opened #72 "Implement a CoESRA virtual desktop management UI within Ecocloud"
While there is work to have SSO between CoESRA and Ecocloud (#51), this still leaves users having to navigate their way through CoESRA's website to launch a virtual desktop and then find their way back to Ecocloud (which is currently not clear and needs to be done manually as there is no return link.)

The current proposal is that there be a management UI in Ecocloud that allows users to manage vi

[2018-11-21 00:54] manhinli commented on #54
This is effectively done and is currently hosted on a demo WPS server.
There are two versions: `spatial_subset_netcdf` and `spatial_subset_geotiff` which accept NetCDF and GeoTIFF files respectively, along with a shapefile for subsetting/clipping/masking.

Example notebooks have also been created in Jupyter/Python and demonstrated.

[2018-11-21 00:57] manhinli commented on #57
There doesn't seem to be issues with the file export feature at the moment and it's already deployed on production systems.

[2018-11-21 01:00] manhinli commented on #56
This has already been implemented by @gweis as `anuclim_daily_extract` and `anuclim_daily_extract_netcdf4` on our demonstration WPS server.

[2018-11-26 05:24] sarahrichmond commented on #56
Hey James,

This is a diff. task. Around the Data Exploration plots (like what we just implemented in BCCVL Traits Exp.)

________________________________
From: James Li <notifications@github.com>
Sent: 21 November 2018 11:00:42
To: ausecocloud/ecocloud
Cc: Sarah Richmond; Author
Subject: Re: [ausecocloud/ecocloud] Write API for 'Exploratory Data' Service (WPS) (#56)

This has already been impleme

[2018-11-26 05:31] manhinli commented on #56
Right - will put back into the work queue. Need to look at the analysis code within BCCVL as referenced in original description of task.

[2018-12-04 00:25] jyucsiro opened #73 "Include TERN Geonetwork in KN for results in Ecocloud Explorer"
We would like to include TERN datasets in search results from Ecocloud Explorer. Currently TERN maintain a Geonetwork instance at https://geonetwork.tern.org.au/

The KN team will need to add this in and help with configuring Ecocloud Explorer to include them.

This issue is to track this implementation in KN and Ecocloud Explorer.

[2018-12-04 00:27] jyucsiro commented on #73
@jevy-wangfei has started this with results coming into the staging deployment of KN. See https://staging.knowledgenet.co/publisher/dataset/org-tern-Terrestrial%20Ecosystem%20Research%20Network%20(TERN)

We are investigating issues around count discrepancies before releasing to KN prod.

[2018-12-12 01:02] gweis opened #74 "Notebook startup timeout"
Reduce timeout waiting for notebook to startup. With a reduced timeout we may be able to return quicker to an end user in case notebook start up fails for some reason.

Important thing here is that the initial sync fo the workspace has to be factored into the time out. We have to make sure that a full download from object store can happen before the time out expires.
Or we have to change how we sy

[2018-12-12 01:11] gweis opened #75 "Google analytics set up race condition?"
Setting up Google analytics in the UI sometimes fails. Somethings tries to access window.ga before it has been set up.

Also we have to make sure, that the site runs, even if google analytics has not been configured at all.

[2018-12-13 03:57] sarahrichmond opened #76 "Add metadata to snippet code as comments"
Add some basic metadata as comments in the snippets.

Example below:
From this KN resource: https://knowledgenet.co/dataset/ds-dga-755f2f61-b9fc-46e8-84d0-2e32ac448e8a. All metadata information should be readily available from KN (click on 'Get More Detail' on that page).

[code]

[2018-12-16 23:56] manhinli commented on #18
Not a priority at the moment; moving back to To Do

[2018-12-17 00:01] manhinli commented on #76
Depending on the resource, the requested metadata properties can be retrieved and should be easily added to snippets.

[2019-01-14 02:14] manhinli commented on #56
Initial work for this has been filed as: https://github.com/ausecocloud/ecocloud_wps_demo/pull/3

Will create notebook as requested that demonstrates the plotting processes for the feedback gathering and refinement process.

[2019-01-24 00:36] sarahrichmond opened #77 "Firefox is not loading some of the UI components correctly"
On the dashboard, it does not show that I have a server running.

Also, when clicking on 'Launch notebook server' it does not display the config options at all.

This only happens on firefox. Chrome and Safari work as normal.

[2019-01-24 00:41] manhinli commented on #77
This isn't affecting just Firefox; all browsers are affected. (Probably didn't pick it up due to caching)

(Firefox, Chrome, Safari)
![image](https://user-images.githubusercontent.com/3337903/51646530-9aa3fc00-1fc4-11e9-853e-334af3dbef70.png)

[2019-01-24 00:42] manhinli commented on #77
@gweis I would suggest to have `workspace-ui` rolled back to a previous working version if that's possible while we fix this because this is a major issue.

[2019-01-24 01:24] manhinli commented on #77
Fixed in https://github.com/ausecocloud/workspace-ui/commit/83e0c8147f1e0da6c10accb248b60782940a0317

[2019-02-03 23:49] gweis opened #78 "App Workspace confusing while notebook is running"
While a notebook is running, all the files are synced to the notebook storage.
Browse and up/download in the workspace UI connect directly to object store. So changes done in notebook server (while notebook is running) don't show up in object store.

Also any changes done to workspace will be overwritten by sync back when notebook shuts down.

Need a solution for that.

[2019-02-03 23:50] gweis commented on #78
Possible quick fix:

Lock workspace browser while sync is in progress.

Connect workspace browser directly to notebook server (or webdav endpoint) while notebook is running.

Also let user only spawn notebook when there is no upload to object store in progress (may need to consider eventual consistency here as well)

[2019-02-04 00:01] manhinli commented on #78
We could extend that to "lock workspace browser when notebook server up" and put a message saying words to the effect of "contents you see here is read-only and not up to date with notebook server X which is currently active."

If we do end up with multiple notebook server instances this would be a problem (not sure how likely we're going to do multi-instance though.)

---

Is there the possibilit

[2019-02-20 03:46] manhinli opened #79 "Implement a confirmation dialog before permanently deleting items out of Workspace"
Currently Workspace does not prompt the user to confirm that they would like to delete the item that they've clicked the Delete button on.

A user has suggested that a confirmation dialog be presented to the user during this process to prevent accidental permanent deletion of items within their workspace.

[2019-03-06 00:00] jyucsiro opened #80 "Update EcoCloud search calls to KN"
KN v2.1 is being developed and is planned for release early April 2019. Part of that is to streamline deployments and help improve the search APIs.

Currently the EcoCloud explorer uses the https://es.knowledgenet.co in production for access to the KN ElasticSearch API using HTTP POST queries.

In the future KN v2.1 release, a minor change will see access to this ElasticSearch API at https://knowl

[2019-03-27 23:32] jyucsiro opened #81 "Render if resource is available in ecocloud explorer UI"
In the upcoming KN v2.1 release, it has active resource checking enabled. This checks to see if the resource for a dataset is accessible.

This info is available when the dataset is queried via the registry directly, e.g.
https://staging.knowledgenet.co/api/v0/registry/records/ds-nsw-7df65ee1-f2e4-4f45-8c38-d9929ac78475?aspect=dcat-dataset-strings&optionalAspect=dcat-distribution-strings&optionalA

[2019-04-04 04:40] sarahrichmond opened #82 "Build UI to configure Virtual Desktop"
See attached screenshot of the Coesra UI for configuring and launching a desktop. According to @gweis we should be able to reenact these setting through our own UI within ecocloud, using their API.
![Screen Shot 2019-04-04 at 2 37 59 pm](https://user-images.githubusercontent.com/14067061/55530011-7ca2f800-56e7-11e9-9893-564c9c6a9568.png)

[2019-04-04 04:40] sarahrichmond opened #83 "Deploy tool to store coesra user tokens to allow single sign on"

[2019-04-04 04:48] sarahrichmond opened #84 "Make snippets content/file type aware"
The snippets are a bit hit and miss. We need to find a way to make these more dynamic so they are aware of what file type they are downloading.

i.e. the snippets fall over when downloading a .zip file, which is unfortunately how a lot of files like shape files come.

This issue is for keeping track of conversations, and for sharing information from the KN team on what info we can get, and therefo

[2019-04-04 04:49] sarahrichmond opened #85 "Improving indexing of TERN data through Geonetwork"
A ticket for tracking progress on indexing TERN data that is available through Geonetwork.

[2019-04-04 04:54] sarahrichmond opened #86 "Allow users to save server images and reload when starting a new server"
A number of our users often do some kind of configuration to their server environments so that they work the way that they want.

We have had a few requests from people to allow them to 'save' their server image, and provide the option to start in that same environment the next time they spin up a server.

Some initial comments for consideration:
- Allowing people to upload/run up their own image

[2019-04-04 04:56] sarahrichmond opened #87 "Allow users to run batch jobs to an ecocloud cluster"
To allow for users to better utilise the power of the cloud, we may want to consider allowing them to batch jobs to a managed cluster.

The trick will be letting them write code the way they usually do, and then choosing an option to 'submit job' rather than run it in-situ. The onus would be on ecocloud to wrap that code in a format that allows it to be run in a cluster-like environment.

For disc

[2019-04-09 01:09] sarahrichmond opened #88 "Disable workspace UI when there is an open server running"
There is an issue with files being deleted when users have a server running and upload files in the Workspace UI and then terminate their server. It goes to last-one-wins.

Need to disable the workspace UI when there is an open server running. Defer the user to uploading the data files in the server workspace folder - something like the text below...

_You currently have an active compute server r

[2019-04-09 01:46] jyucsiro commented on #84
Hi @sarahrichmond - @jevy-wangfei and I have been looking into this. In KN v2.0, which is used by the current ecocloud on prod, we don't have a field to check what format the resource listed in a dataset actually is. So the data provider can claim that the file type is "shapefile" when it is actually a zipfile.

Let's use the "2016 SoE Biodiversity NUmber of ALA records in 2012" dataset as an exam

[2019-04-09 02:08] gweis commented on #84
As a side note ….

Shapefiles should always be zip files as well.

[2019-04-09 03:03] #77 closed, assigned to manhinli

[2019-04-16 23:58] jyucsiro commented on #85
Indexing of TERN data via Geonetwork is underway.

Where there are services like OpenDAP, KN is picking them up.

e.g. https://geonetwork.tern.org.au/geonetwork/srv/eng/csw?service=CSW&version=2.0.2&request=GetRecordById&elementsetname=full&outputschema=http%3A%2F%2Fwww.isotc211.org%2F2005%2Fgmd&typeNames=gmd%3AMD_Metadata&id=c88ffa2f-0e2c-4f3c-9a07-c82155a818e8

See
https://staging.knowledgenet.c

[2019-04-16 23:58] jyucsiro commented on #85
These should be available when KNv2.1 is released.

[2019-05-31 01:02] sarahrichmond opened #89 "Log in workflow improvements"
Note from user below:

"Hi ecocloud. When I attempted to login using both AAF and Google I got sent to the "You are not signed in" page. I then clicked the sign in link in the message Please sign in to continue option and was successfully logged in.

As I'm signed in is it possible to remove this page from the sign-in flow, or provide a better message for users who are actually signed in.

Thanks,

[2019-05-31 01:09] manhinli commented on #89
May need to look at how the Keycloak JS client is working - and how this impacts on the initialisation of the client code. Might be a race condition of some sort.

[2019-06-03 02:17] manhinli commented on #89
We have yet to reliably replicate the issue though it has definitely been observed before, mainly in Firefox?

I'd like to ask what browsers (name, version, operating system) the user is using because it may be a browser-specific issue.

My current (not completely substantiated) guess is around `history.replaceState()` and its buggy behaviour with the page URL in Firefox, namely [Bugzilla #1422334

[2019-06-09 23:50] manhinli commented on #89
Have encountered it once since last update; not able to replicate it reliably. Have heard of reports of it happening not only in Firefox, but Chrome too, so might not be browser-bug related but maybe network/race conditions?

[2019-06-11 00:33] sarahrichmond opened #90 "Create proper landing page for when users land on app.ecocloud.org.au + make Explorer viewable without logging in"
This task has two parts:

1) Currently the landing page is a "you are not logged in page". Need to build a proper landing page (perhaps taking inspiration from the Wordpress site - ecocloud.org.au)

2) Once we have a proper landing page, the ecocloud Explorer page should be made accessible without the user having to log in.

[2019-06-30 23:44] sarahrichmond commented on #90
Landing page could look something like this... (add a log in button so it's obvious). Change "Key Features" to "Welcome to _ecocloud_"
<img width="1427" alt="Screen Shot 2019-07-01 at 9 42 28 am" src="https://user-images.githubusercontent.com/14067061/60403758-d0d54f80-9be4-11e9-9305-cff901eac3b1.png">

[2019-07-01 04:38] manhinli commented on #90
As implemented in current PR:
![image](https://user-images.githubusercontent.com/3337903/60410943-eca11b80-9c0d-11e9-9669-7aa45b3314bf.png)

[2019-07-01 07:13] manhinli commented on #89
Found one reliable way to recreate it - logging in with old/missing state.

The Keycloak server then (after sign in) redirects the user to the application but does not supply all three of the following:
* code
* session_state
* state

... which is required to initialise the session state in the Javascript adapter. Because of this, it thinks it's not actually authenticated.

There's a second part -